table{
	background-color: white;
	text-align: center;
	border-collapse: collapse;
	width: 60%;
	position: absolute;
    top: 203px; /* sube y baja toda la tabla */
    left: 500px;
}
th, td{
	border: solid 1px black;
	padding: 10px;
}

thead{
	background-color:  orange;
	color: #171309;
    width: 100%;
	position: absolute;
    top: -45px;
    left: 0px;
}
tr:nth-child(even){
	background-color: #ddd;
}
tr:hover td{
	background-color: #EB8437;
	color: white;
}