body {
  margin: 0;
  padding: 0;
  background: url(../imagenesIBQ/fondogris.jpg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;


  background: -color:#324065;
}


.contenedor{

    position: relative;
    display: inline-block;
    text-align: center;
}
 
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
}
.centrado{

  position: absolute;
    top: 500%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Inicio de estilos para el pie de pag*/
.footer{
	background-color: #ffffff; /*color de la franja*/
	width: 205; /* dimensiones de la franja*/
	height:48px; /* dimensiones de la franja*/
	bottom: 0; /*ayuda a que el pie este en la parte inferior de la pag*/
	position: fixed;
	text-align: center; /* Texto centrado*/
	color: #000;
}

#miParrafo{
  width: 200px;
  background: white;
}

.miParrafo{
  width: 500px;
  background: green;
}
